@model PaperStreetSoap.Web.Models.SoapDocument[]

@{
    ViewBag.Title = "Soap";
}
<br />
<br />
<h3>Location: @ViewBag.Location</h3>
    <h3>Status: @ViewBag.StatusCode</h3>

<section id="one">
    <div class="container wow fadeInUp container-fluid">
        <h2>Soap</h2>
        <p class="lead">
            My Cupcake ipsum dolor sit amet. I love I love I love marshmallow sweet wafer caramels. I love gummies tiramisu sugar plum I love carrot cake cake cake. Cookie sweet roll macaroon sweet donut jujubes jelly I love. Cupcake jelly beans jelly-o sweet ice cream pudding tootsie roll chocolate bar. Gingerbread biscuit biscuit lollipop. Fruitcake jelly I love I love icing toffee.
        </p>
        <div class="card-group">
            @foreach (var soap in @Model)
            {
                <!-- card -->
                <div class="card">
                    <img class="card-img-top img-fluid" src="@soap.imageUrl" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">@soap.name</h4>
                        <p class="card-text">@soap.description</p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>